.fake-badge {
    background-color: #ff0000;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 24px;
    display: inline-block;
    width: 50px;
    text-align: center;
}

.real-badge {
    background-color: #008000;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 24px;
    display: inline-block;
    width: 50px;
    text-align: center;
}
